#!/usr/bin/make -f
%:
	dh  $@

override_dh_auto_configure:

	./configure $(CROSS) \
		--prefix=/usr \
		--bindir=/usr/bin \
		--sysconfdir=/etc \
		CFLAGS="$(CFLAGS)" \
		LDFLAGS="-Wl,-z,defs -Wl,--as-needed -Wl,--no-undefined"
